  <!-- Currency symbols SVG -->
<div id="symbols">
  <svg width="3600" height="2400" xmlns="http://www.w3.org/2000/svg">
    <style>
      .symbol {
        font: bold 24px sans-serif;
      }
    </style>
    <defs>
      <pattern
        id="gridPattern"
        width="1120"
        height="480"
        patternUnits="userSpaceOnUse"
      >
        <rect width="1120" height="480" fill="transparent" />
        <g class="symbol" transform="translate(20, 40)">
          <text x="0" y="0">$</text>
          <!-- USD -->
          <text x="80" y="0">د.إ</text>
          <!-- AED -->
          <text x="160" y="0">؋</text>
          <!-- AFN -->
          <text x="240" y="0">L</text>
          <!-- ALL -->
          <text x="320" y="0">֏</text>
          <!-- AMD -->
          <text x="400" y="0">ƒ</text>
          <!-- ANG -->
          <text x="480" y="0">Kz</text>
          <!-- AOA -->
          <text x="560" y="0">$</text>
          <!-- ARS -->
          <text x="640" y="0">$</text>
          <!-- AUD -->
          <text x="720" y="0">ƒ</text>
          <!-- AWG -->
          <text x="800" y="0">₼</text>
          <!-- AZN -->
          <text x="880" y="0">KM</text>
          <!-- BAM -->
          <text x="960" y="0">$</text>
          <!-- BBD -->
          <text x="1040" y="0">৳</text>
          <!-- BDT -->
          <text x="0" y="40">лв</text>
          <!-- BGN -->
          <text x="80" y="40">ب.د</text>
          <!-- BHD -->
          <text x="160" y="40">FBu</text>
          <!-- BIF -->
          <text x="240" y="40">$</text>
          <!-- BMD -->
          <text x="320" y="40">$</text>
          <!-- BND -->
          <text x="400" y="40">Bs.</text>
          <!-- BOB -->
          <text x="480" y="40">R$</text>
          <!-- BRL -->
          <text x="560" y="40">$</text>
          <!-- BSD -->
          <text x="640" y="40">Nu.</text>
          <!-- BTN -->
          <text x="720" y="40">P</text>
          <!-- BWP -->
          <text x="800" y="40">Br</text>
          <!-- BYN -->
          <text x="880" y="40">$</text>
          <!-- BZD -->
          <text x="960" y="40">$</text>
          <!-- CAD -->
          <text x="1040" y="40">Fr</text>
          <!-- CDF -->
          <text x="0" y="80">Fr</text>
          <!-- CHF -->
          <text x="80" y="80">$</text>
          <!-- CLP -->
          <text x="160" y="80">¥</text>
          <!-- CNY -->
          <text x="240" y="80">$</text>
          <!-- COP -->
          <text x="320" y="80">₡</text>
          <!-- CRC -->
          <text x="400" y="80">$</text>
          <!-- CUP -->
          <text x="480" y="80">$</text>
          <!-- CVE -->
          <text x="560" y="80">Kč</text>
          <!-- CZK -->
          <text x="640" y="80">Fdj</text>
          <!-- DJF -->
          <text x="720" y="80">kr</text>
          <!-- DKK -->
          <text x="800" y="80">RD$</text>
          <!-- DOP -->
          <text x="880" y="80">د.ج</text>
          <!-- DZD -->
          <text x="960" y="80">£</text>
          <!-- EGP -->
          <text x="1040" y="80">Nkf</text>
          <!-- ERN -->
          <text x="0" y="120">Br</text>
          <!-- ETB -->
          <text x="80" y="120">€</text>
          <!-- EUR -->
          <text x="160" y="120">$</text>
          <!-- FJD -->
          <text x="240" y="120">£</text>
          <!-- FKP -->
          <text x="320" y="120">kr</text>
          <!-- FOK -->
          <text x="400" y="120">£</text>
          <!-- GBP -->
          <text x="480" y="120">₾</text>
          <!-- GEL -->
          <text x="560" y="120">£</text>
          <!-- GGP -->
          <text x="640" y="120">₵</text>
          <!-- GHS -->
          <text x="720" y="120">£</text>
          <!-- GIP -->
          <text x="800" y="120">D</text>
          <!-- GMD -->
          <text x="880" y="120">Fr</text>
          <!-- GNF -->
          <text x="960" y="120">Q</text>
          <!-- GTQ -->
          <text x="1040" y="120">$</text>
          <!-- GYD -->
          <text x="0" y="160">$</text>
          <!-- HKD -->
          <text x="80" y="160">L</text>
          <!-- HNL -->
          <text x="160" y="160">kn</text>
          <!-- HRK -->
          <text x="240" y="160">G</text>
          <!-- HTG -->
          <text x="320" y="160">Ft</text>
          <!-- HUF -->
          <text x="400" y="160">Rp</text>
          <!-- IDR -->
          <text x="480" y="160">₪</text>
          <!-- ILS -->
          <text x="560" y="160">£</text>
          <!-- IMP -->
          <text x="640" y="160">₹</text>
          <!-- INR -->
          <text x="720" y="160">ع.د</text>
          <!-- IQD -->
          <text x="800" y="160">﷼</text>
          <!-- IRR -->
          <text x="880" y="160">kr</text>
          <!-- ISK -->
          <text x="960" y="160">£</text>
          <!-- JEP -->
          <text x="1040" y="160">$</text>
          <!-- JMD -->
          <text x="0" y="200">د.ا</text>
          <!-- JOD -->
          <text x="80" y="200">¥</text>
          <!-- JPY -->
          <text x="160" y="200">Sh</text>
          <!-- KES -->
          <text x="240" y="200">лв</text>
          <!-- KGS -->
          <text x="320" y="200">៛</text>
          <!-- KHR -->
          <text x="400" y="200">$</text>
          <!-- KID -->
          <text x="480" y="200">Fr</text>
          <!-- KMF -->
          <text x="560" y="200">₩</text>
          <!-- KRW -->
          <text x="640" y="200">د.ك</text>
          <!-- KWD -->
          <text x="720" y="200">$</text>
          <!-- KYD -->
          <text x="800" y="200">₸</text>
          <!-- KZT -->
          <text x="880" y="200">₭</text>
          <!-- LAK -->
          <text x="960" y="200">ل.ل</text>
          <!-- LBP -->
          <text x="1040" y="200">Rs</text>
          <!-- LKR -->
          <text x="0" y="240">$</text>
          <!-- LRD -->
          <text x="80" y="240">L</text>
          <!-- LSL -->
          <text x="160" y="240">ل.د</text>
          <!-- LYD -->
          <text x="240" y="240">د.م.</text>
          <!-- MAD -->
          <text x="320" y="240">L</text>
          <!-- MDL -->
          <text x="400" y="240">Ar</text>
          <!-- MGA -->
          <text x="480" y="240">ден</text>
          <!-- MKD -->
          <text x="560" y="240">K</text>
          <!-- MMK -->
          <text x="640" y="240">₮</text>
          <!-- MNT -->
          <text x="720" y="240">P</text>
          <!-- MOP -->
          <text x="800" y="240">UM</text>
          <!-- MRU -->
          <text x="880" y="240">₨</text>
          <!-- MUR -->
          <text x="960" y="240">ރ.</text>
          <!-- MVR -->
          <text x="1040" y="240">MK</text>
          <!-- MWK -->
          <text x="0" y="280">$</text>
          <!-- MXN -->
          <text x="80" y="280">RM</text>
          <!-- MYR -->
          <text x="160" y="280">MT</text>
          <!-- MZN -->
          <text x="240" y="280">$</text>
          <!-- NAD -->
          <text x="320" y="280">₦</text>
          <!-- NGN -->
          <text x="400" y="280">C$</text>
          <!-- NIO -->
          <text x="480" y="280">kr</text>
          <!-- NOK -->
          <text x="560" y="280">₨</text>
          <!-- NPR -->
          <text x="640" y="280">$</text>
          <!-- NZD -->
          <text x="720" y="280">ر.ع.</text>
          <!-- OMR -->
          <text x="800" y="280">B/.</text>
          <!-- PAB -->
          <text x="880" y="280">S/.</text>
          <!-- PEN -->
          <text x="960" y="280">K</text>
          <!-- PGK -->
          <text x="1040" y="280">₱</text>
          <!-- PHP -->
          <text x="0" y="320">₨</text>
          <!-- PKR -->
          <text x="80" y="320">zł</text>
          <!-- PLN -->
          <text x="160" y="320">₲</text>
          <!-- PYG -->
          <text x="240" y="320">ر.ق</text>
          <!-- QAR -->
          <text x="320" y="320">lei</text>
          <!-- RON -->
          <text x="400" y="320">дин</text>
          <!-- RSD -->
          <text x="480" y="320">₽</text>
          <!-- RUB -->
          <text x="560" y="320">Fr</text>
          <!-- RWF -->
          <text x="640" y="320">ر.س</text>
          <!-- SAR -->
          <text x="720" y="320">$</text>
          <!-- SBD -->
          <text x="800" y="320">₨</text>
          <!-- SCR -->
          <text x="880" y="320">ج.س.</text>
          <!-- SDG -->
          <text x="960" y="320">kr</text>
          <!-- SEK -->
          <text x="1040" y="320">$</text>
          <!-- SGD -->
          <text x="0" y="360">£</text>
          <!-- SHP -->
          <text x="80" y="360">Le</text>
          <!-- SLE -->
          <text x="160" y="360">Le</text>
          <!-- SLL -->
          <text x="240" y="360">Sh</text>
          <!-- SOS -->
          <text x="320" y="360">$</text>
          <!-- SRD -->
          <text x="400" y="360">£</text>
          <!-- SSP -->
          <text x="480" y="360">Db</text>
          <!-- STN -->
          <text x="560" y="360">£</text>
          <!-- SYP -->
          <text x="640" y="360">L</text>
          <!-- SZL -->
          <text x="720" y="360">฿</text>
          <!-- THB -->
          <text x="800" y="360">ЅМ</text>
          <!-- TJS -->
          <text x="880" y="360">T</text>
          <!-- TMT -->
          <text x="960" y="360">د.ت</text>
          <!-- TND -->
          <text x="1040" y="360">T$</text>
          <!-- TOP -->
          <text x="0" y="400">₺</text>
          <!-- TRY -->
          <text x="80" y="400">$</text>
          <!-- TTD -->
          <text x="160" y="400">$</text>
          <!-- TVD -->
          <text x="240" y="400">$</text>
          <!-- TWD -->
          <text x="320" y="400">Sh</text>
          <!-- TZS -->
          <text x="400" y="400">₴</text>
          <!-- UAH -->
          <text x="480" y="400">USh</text>
          <!-- UGX -->
          <text x="560" y="400">$</text>
          <!-- UYU -->
          <text x="640" y="400">лв</text>
          <!-- UZS -->
          <text x="720" y="400">Bs.</text>
          <!-- VES -->
          <text x="800" y="400">₫</text>
          <!-- VND -->
          <text x="880" y="400">VT</text>
          <!-- VUV -->
          <text x="960" y="400">T</text>
          <!-- WST -->
          <text x="1040" y="400">Fr</text>
          <!-- XAF -->
        </g>
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill="url(#gridPattern)" />
  </svg>
</div>

<div id="primaryContainer" class="container-fluid d-flex flex-column align-items-center">
  
  <!-- Welcome header -->
  <div id="welcomeHeader" class="text-center">
    <h1 class="display-1 text-nightColor fw-bold">
      Welcome to My Currency Converter
    </h1>
  </div>
  <div class="my-5">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-nightColor btn-lg"
      data-bs-toggle="modal"
      data-bs-target="#codesModal"
    >
      Currency Codes
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="codesModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-nightColor" id="exampleModalLabel">
              ISO 4217 Three Letter Currency Codes
            </h1>
          </div>
          <div class="modal-body">
            <ul>
              <% for (let i = 0; i < currencies.length; i += 1) { %>
              <li class="text-nightColor my-3"><%= countries[i] %>: <%= currencies[i] %> </li>
              <% } %>
            </ul>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-nightColor"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('secondaryContainer.ejs') %>
</div>
