<div class="container-fluid d-flex flex-column align-items-center ">
  <div class="text-center" style="margin-top: 50px;">
    <h1 class="display-1">Welcome to My Currency Converter</h1>
  </div>
  <div style="height: 250px; width: 250px; margin-top: 50px;"><h1 class="text-center">hi</h1></div>
</div>
