

<div id="primaryContainer" class="container-fluid d-flex flex-column align-items-center">
  
  <!-- Welcome header -->
  <div id="welcomeHeader" class="text-center">
    <h1 class="display-1 text-nightColor fw-bold">
      Welcome to My Currency Converter
    </h1>
  </div>
  <div class="my-5">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-nightColor btn-lg"
      data-bs-toggle="modal"
      data-bs-target="#codesModal"
    >
      Currency Codes
    </button>

    <!-- Modal -->
    <div
      class="modal fade animate__animated animate__zoomIn"
      id="codesModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-nightColor" id="exampleModalLabel">
              ISO 4217 Three Letter Currency Codes
            </h1>
          </div>
          <div class="modal-body">
            <ul>
              <% for (let i = 0; i < currencies.length; i += 1) { %>
              <li class="text-nightColor my-3"><%= countries[i] %>: <%= currencies[i] %> </li>
              <% } %>
            </ul>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-nightColor"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('secondaryContainer.ejs') %>
</div>
