  <!-- Currency form -->
  <div id="secondaryContainer" class="container row">
    <div class="col-sm">
      <!-- dropdown button -->
      <div class="input-group my-3">
        <button
          class="btn btn-outline-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Currency to Convert
        </button>
        <ul class="dropdown-menu">
            <% for (let elmt of currencies) { %>
            <li><a class="dropdown-item"><%= elmt %></a></li>
            <li><hr class="dropdown-divider" /></li>
            <% } %> 
        </ul>
        <input
          type="text"
          class="form-control border-primary text-primary bg-transparent"
          aria-label="Text input with dropdown button"
        />
      </div>
      <!-- End dropdown button -->
    </div>
    <div class="col-sm">
      <!-- dropdown button -->
      <div class="input-group my-3">
        <input
          type="text"
          class="form-control border-primary text-primary bg-transparent"
          aria-label="Text input with dropdown button"
        />
        <button
          class="btn btn-outline-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Convert to Currency
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <% for (let elmt of currencies) { %>
                <li><a class="dropdown-item"><%= elmt %></a></li>
                <li><hr class="dropdown-divider" /></li>
                <% } %> 
        </ul>
      </div>
      <!-- End dropdown button -->
    </div>
  </div>
