<!-- Currency form -->
<form>
  <div id="secondaryContainer" class="container row">
    <div class="col-sm">
      <!-- (Left) dropdown button -->
      <div class="input-group my-3 dropdown-center">
        <button
          id="rightDropdown"
          class="btn btn-outline-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Currency to Convert
        </button>
        <ul
          class="dropdown-menu text-center"
          style="max-height: 200px; overflow-y: auto"
        >
          <% for (let elmt of currencies) { %>
          <li data-list_item_elmt="<%=elmt%>" class="dropdown-item">
            <%= elmt %>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <% } %>
        </ul>
        <input
          id="rightInput"
          type="text"
          class="form-control border-primary text-primary bg-transparent text-center"
          aria-label="Text input with dropdown button"
        />
      </div>
      <!-- End dropdown button -->
    </div>
    <div class="col-sm">
      <!-- (Right) dropdown button -->
      <div class="input-group my-3 dropdown-center">
        <input
          type="text"
          class="form-control border-primary text-primary bg-transparent text-center"
          aria-label="Text input with dropdown button"
        />
        <button
          class="btn btn-outline-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Convert to Currency
        </button>
        <ul
          class="dropdown-menu text-center"
          style="max-height: 200px; overflow-y: auto"
        >
          <% for (let elmt of currencies) { %>
          <li data-list_item_elmt="<%=elmt%>" class="dropdown-item">
            <%= elmt %>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <% } %>
        </ul>
      </div>
      <!-- End dropdown button -->
    </div>
    <div class="d-flex justify-content-center my-5">
      <button type="button" class="btn btn-outline-primary btn-lg">
        Submit
      </button>
    </div>
  </div>
</form>
