// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-colors: (
  'dayColor': #ff7300,
  'nightColor': #0dff00,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here

#welcomeHeader {
  margin-top: 50px;
}

#symbols {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}

#themeToggleDiv {
  position: absolute;
  top: 5px;
  right: 5px;
}

#secondaryContainer {
  max-width: 720px;
  min-width: 340px;
}

#leftInput,
#rightInput:hover {
  cursor: default;
}

.darkPlaceholder::placeholder {
  color: #056400;
}

.lightPlaceholder::placeholder {
  color: #ffc896;
}

.currCode:hover {
  cursor: pointer;
}

.custom-tooltip-dark .tooltip-inner {
  background-color: #212529;
  color: #0dff00;
  font-size: 14px;
  border: 1px solid #0dff00;
  border-radius: 4px;
}

.custom-tooltip-dark .tooltip-arrow::before {
  // sets top, right, bottom, and left border colors
  border-color: #0dff00 transparent transparent transparent !important;
}

.custom-tooltip-light .tooltip-inner {
  background-color: #f8f9fa;
  color: #ff7300;
  font-size: 14px;
  border: 1px solid #ff7300;
  border-radius: 4px;
}

.custom-tooltip-light .tooltip-arrow::before {
  // sets top, right, bottom, and left border colors
  border-color: #ff7300 transparent transparent transparent !important;
}

button {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

input {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
