// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import '../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here

#welcomeHeader {
  margin-top: 50px;
}

#symbols {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}

#themeToggleDiv {
  position: absolute;
  top: 5px;
  right: 5px;
}

#secondaryContainer {
  max-width: 720px;
  min-width: 340px;
}

li:hover {
  cursor: pointer;
}

body {
  overflow: hidden;
}

button {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

input {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

ul {
  max-height: 200px;
  overflow-y: auto;
}
