// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-colors: (
  'dayColor': #ff7300,
  'nightColor': #0dff00,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here

#welcomeHeader {
  margin-top: 50px;
}

#symbols {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}

#themeToggleDiv {
  position: absolute;
  top: 5px;
  right: 5px;
}

#secondaryContainer {
  max-width: 720px;
  min-width: 340px;
}

#leftInput, #rightInput:hover {
  cursor: default;
}

.currCode:hover {
  cursor: pointer;
}

.custom-tooltip-dark .tooltip-inner {
  background-color: #212529; /* Example background color */
  color: #0dff00; /* Example text color */
  font-size: 14px; /* Example font size */
  border: 1px solid #0dff00; /* Example outline color */
  border-radius: 4px; /* Optional: to match the default Bootstrap tooltip border-radius */
}

.custom-tooltip-light .tooltip-inner {
  background-color: #f8f9fa; /* Example background color */
  color: #ff7300; /* Example text color */
  font-size: 14px; /* Example font size */
  border: 1px solid #ff7300; /* Example outline color */
  border-radius: 4px; /* Optional: to match the default Bootstrap tooltip border-radius */
}

.custom-tooltip-dark .tooltip-arrow {
  border-top-color: #212529; /* Match arrow color with background color */
}

.custom-tooltip-light .tooltip-arrow {
  border-top-color: #f8f9fa; /* Match arrow color with background color */
}

button {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

input {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

// theme control
// btn-outline-primary

// Welcome Header, Input text
// text-primary

// Button trigger modal, Dropdown buttons, Submit button
// btn-outline-primary

// Inputs
// border-primary
